body {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    line-height: 1.7rem;
    width: 100%;
    max-width: 1500px;
    overflow-x: hidden;
    background-color: #FEFCF7;
    color: #333D4B;    
}
h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #83888F;
}

.header {
    position: relative;
    display: flex;
    height: 4rem;
    bottom: 1.5rem;
    align-items: center;

}
.header-logo {
    width: 10rem;
}

/* Menu Styles */
.menu-container {
    display: flex;
    justify-content: right;
    font-size: 15px;
    text-transform: uppercase;
}
.ham {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.xIcon {
    display: none;
}
.menu {
    position: relative;
    background: #FEFCF7;
    color: black;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
}

.showMenu {
    transform: translateY(0);
}

.row-1 {
    background-image: url("/assets/about/mobile/image-hero-whitecup.jpg");
    background-position: 10% 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 95%;
    height: 25rem;
    margin: 30px auto;
    color: #FEFCF7;
    border-radius: 10px;
    padding: 6rem 0;
}

.row-2 {
    margin: 60px 0;
}
.container-2-img-mob {
    display: block;
    width: 100%;
    height: 25rem;
    margin: 40px auto;
    border-radius: 10px;
}
.container-2-img-tab {
    display: none;
}
.container-2-img-desk {
    display: none;
}

.flex-container {
    display: flex;
    height: 35rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #333D4B;
    color: #FEFCF7;
    margin: 5rem 0;
    border-radius: 10px;
}
.flex-item-1 {
    position: relative;
    bottom: 4rem;
}
.flex-img {
    height: 10rem;
    width: 90%;
    border-radius: 10px;
}
.flex-img-tab {
    display: none;
}
.flex-img-desk {
    display: none;
}
.flex-item-2 {
    width: 90%;
}

.row-4 {
    display: block;
}
.container-4-header {
    color: #83888F;
}
.container-4-item {
    line-height: 1rem;
    margin: 2rem 0;
}
.container-4-img {
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.country {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer {
    background-color: #333D4B;
    height: 20rem;
    width: 96%;
    margin: 4rem auto;
}
.footer-logo {
    position: relative;
    top: 2rem;
    width: 19rem;
    text-align: center;
}
.footer-nav {
    list-style: none;
    color: #83888F;
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.5rem;
}
.icon-flex-container {
    position: relative;
    bottom: 1rem;
}
.icon {
    padding: 0 10px;
}

@media screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .header {
        width: 100%;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    .logo-container {
        padding-left: 0;
    }
    .header-logo {
        padding-top: 2rem;
    }
    .ham {
        display: none;
    }
    .menu-container {
        justify-content: flex-end;
        padding-right: 0;
    }
    .menu {
        display: flex;
        flex-direction: row;
        transform: translateY(80%);
        background-color: transparent;
        justify-content: flex-end;
    }
    .menuLink {
        color: #83888F;
        margin-left: 2rem;
    }
    .row-1 {
        width: 100%;
        height: 28rem;
        background-image: url('/assets/about/tablet/image-hero-whitecup.jpg');
        
    }
    .container-1-content {
        padding-top: 2rem;
        padding-left: 4rem;
    }

    .row-2 {
        margin-top: 100px;
        margin-bottom: 150px;
    }
    .container-2-img-mob {
        display: none;
    }
    .container-2-img-tab {
        display: block;
        height: 30rem;
        width: 100%;
        border-radius: 10px;
    }
    .container-2-content {
        height: 26rem;
        margin-bottom: 10rem;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .container-2-content p {
        font-size: 15px;
    }

    .flex-img {
        display: none;
    }
    
    .flex-item-1 {
        bottom: 8.5rem;
    }
    .flex-img-tab {
        display: block;
        border-radius: 10px;
    }
    .flex-item-2 {
        position: relative;
        bottom: 5rem;
        width: 85%;
    }

    .row-4 {
        width: 95%;
        margin: 0 auto;
    }
    .container-4-item {
        margin-right: 2.5rem;
    }
    .country {
        font-size: 1.5rem;
    }

    .footer-logo-container {
        margin: 0 25%;
    }
}

@media screen and (min-width: 992px) {
    body {
        max-width: 1500px;
    }

    .row-1 {
        background-image: url('/assets/about/desktop/image-hero-whitecup.jpg');
        padding: 3rem 0;
    }

    .row-2 {
        padding: 0 3rem;
        margin: 50px 0;
    }
    .container-2-img-tab {
        display: none;
    }
    .container-2-img-desk {
        display: block;
        height: 27rem;
        width: 20rem;
        border-radius: 10px;
    }
    .container-2-content {
        width: 95%;
        margin-bottom: 5rem;
    }

    .flex-container {
        height: 25rem;
        flex-direction: row-reverse;
    }
    .flex-item-1 {
        bottom: 5rem;
        left: 2rem;
    }
    .flex-img-tab {
        display: none;
    }
    .flex-img-desk {
        display: block;
        width: 80%;
        border-radius: 10px;
        margin-left: 2rem;
    }
    .flex-item-2 {
        position: relative;
        width: 50%;
        text-align: left;
        top: .1rem;
        left: .5rem;
    }

    .row-4 {
        justify-content: space-evenly;
        padding-left: 2rem;
    }
    .container-4-item {
        width: 25%;
    }

    .footer {
        display: flex;
        height: 6rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-logo-container {
        margin: 0;
        padding: 0;
    }
    .footer-logo {
        width: 15rem;
        top: 0;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        margin-left: 10%;
    }
    .footer-nav li {
        margin-right: 9%;
    }
    .icon-flex-container {
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .flex-item-2 {
        width: 55%;
    }
}