body {
    font-size: 16px;
    width: 100%;
    max-width: 1500px;
    overflow-x: hidden;
    
}

.container {
    border: 1px solid black;
}
.row {
    border-radius: 2%;
}

.header {
    display: flex;
    height: 4rem;
    align-items: center;
    
}
.header-logo {
    width: 10rem;
}

/* Menu Styles */
.menu-container {
    display: flex;
    justify-content: right;
}
.ham {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.xIcon {
    display: none;
}
.menu {
    position: relative;
    background: #fff;
    color: black;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
}
.showMenu {
    transform: translateY(0);
}

/* Hero Styles */
.hero-container {
    height: 25rem;
    text-align: center;
    background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto;
}

.row-2 {
   display: flex;
   flex-direction: column; 
   text-align: center;
}
.bean-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}
.flex-item-1 {
    border: 1px dashed pink;
}
.row-2-img {
    width: 100px;
    height: 100px;
}
.flex-item-2 {
    border: 1px dashed purple;
}

.row-3 {
    height: 100%;
    width: 100%;
    margin: 0 auto;

}
.row-3-content-container {
    height: 18rem;
    background-color: #333D4B;
    border-radius: 5px 5px 0 0;
}
.row-3-header {
    position: unset;
    font-size: 24px;
    color: #fff;
}
.row-4 {
    height: 40rem;
    background-color: #282F38;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
}

.card {
    display: flex;
    height: 25rem;
    flex-direction: column;
    background-color: #0E8784;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
.container-5 {
    height: 100%;
}
.row-5-header {
    padding-top: 45rem;
} 
.row-5-flex-container {
    display: flex;
    flex-direction: column;
}
.icon-container {
    display: none;
}
.footer {
    background-color: #333D4B;
    
}
.footer-logo {
    width: 20rem;
    text-align: center;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
    h2 {
        position: relative;
        top: 40px;
        font-size: 100px;
        text-transform: lowercase;
        
    }
    .ham {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        transform: translateY(0);
        background-color: transparent;
        justify-content: center;
        
    }
    .menuLink {
        color: #83888F;
    }

    .hero-container {
        text-align: left;
        filter: brightness(200%);
    }
    .hero-content {
        width: 60%;
        
    }
    .bean-content {
        flex-direction: row;
    }
    .flex-item-1 {
        width: 40%;
    }
    .row-2-img {
        float: right;
    }
    .flex-item-2 {
        width: 60%;
        text-align: left;
    }
    .row-4 {
        height: 30rem;
    }
    .card {
        flex-direction: row;
        height: 15rem;
    }
    .card-img-container {
        width: 45%;
    }
    .card-content {
        text-align: left;
    }
    .row-5-flex-container {
        display: flex;
        flex-direction: row;
    }
    .icon-container {
        display: flex;
        flex-direction: row;
        
    }
    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #0E8784;
    
    }
    hr {
        padding-left: 0;
        padding-right: 0;
        margin: 20px 0;
        height: 5%;
        width: 30%;
        color: #FDD6BA;
        background-color: #FDD6BA;
    }
    
}

@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
    }
    .bean-content {
        flex-direction: column;
    }
    .flex-item-1 {
        width: 100%;
    }
    .row-2-img {
        float: none;
    }
    .flex-item-2 {
        width: 100%;
    }
    .row-4 {
        height: 10rem;
    }
    .card {
        flex-direction: column;
    }
    .card-content {
        text-align: center;
    }
}