body {
    font-size: 16px;
    width: 100%;
    max-width: 1500px;
    overflow-x: hidden;  
    line-height: 1.7rem; 
    font-weight: 300; 
}
h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #83888F;
}
.btn {
    font-family: 'Fraunces', serif;
    height: 3rem;
    width: 10rem;
    background-color: #0E8784;
    color: #FEFCF7;
}

.header {
    position: relative;
    display: flex;
    height: 4rem;
    bottom: 1.5rem;
    align-items: center;
}
.header-logo {
    width: 10rem;
}

/* Menu Styles */
.menu-container {
    display: flex;
    justify-content: right;
}
.ham {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.xIcon {
    display: none;
}
.menu {
    position: relative;
    background: #fff;
    color: black;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
}
.showMenu {
    transform: translateY(0);
}

/* Hero Styles */
.hero-container {
    height: 30rem;
    text-align: center;
    background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 30px auto;
    border-radius: 10px;
}
.hero-content {
    padding: 5rem 0;
}

.row-2 {
   display: flex;
   flex-direction: column; 
   text-align: center;
   margin: 7rem 0;
}
.container-2-header {
    background: -webkit-linear-gradient(#83888F, #fdfdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bean-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
.bean-content:first-child {
    margin-top: 1rem;
}
.row-2-img {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
}
.flex-item-2 {
    width: 90%;
}

.row-3 {
    height: 100%;
    width: 100%;
    margin: 0 auto;

}
.row-3-content-container {
    height: 18rem;
    background-color: #333D4B;
    border-radius: 5px 5px 0 0;
}
.row-3-header {
    position: unset;
    font-size: 2rem;
    color: #fff;
}
.row-3-para {
    color: #83888F;
}
.row-4 {
    height: 43rem;
    background-color: #282F38;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 3rem 0;
}

.card {
    display: flex;
    height: 25rem;
    flex-direction: column;
    background-color: #0E8784;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
.card-content {
    height: 50%;
    width: 85%;
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.container-5 {
    height: 100%;
    margin-bottom: 8rem;
}
.row-5-header {
    padding-top: 45rem;
    color: #83888F;
} 
.row-5-flex-container {
    display: flex;
    flex-direction: column;
}
.number {
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #FDD6BA;
}
.footer {
    background-color: #333D4B;
    height: 20rem;
    width: 96%;
    margin: 4rem auto;
}
.footer-logo {
    position: relative;
    top: 2rem;
    width: 19rem;
    text-align: center;
}
.footer-nav {
    list-style: none;
    color: #83888F;
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.5rem;
}
.icon-flex-container {
    position: relative;
    bottom: 1rem;
}
.icon {
    padding: 0 10px;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
    h2 {
        position: relative;
        top: 40px;
        font-size: 100px;
        text-transform: lowercase;
        
    }
    .header {
        padding-top: 2rem;
    }
    .ham {
        display: none;
    }
    .menu-container {
        padding-top: 1rem;
        justify-content: flex-end;
    }
    .menu {
        display: flex;
        flex-direction: row;
        transform: translateY(0);
        background-color: transparent;
        justify-content: flex-end;
        width: 100%;
        
    }
    .menuLink {
        color: #83888F;
        margin-left: 30px;
        padding-left: 0;
        text-transform: uppercase;
        font-size: 14px;
    }

    .hero-container {
        background-image: url('/assets/home/tablet/image-hero-coffeepress.jpg');
        text-align: left;
    }
    .hero-content {
        width: 75%;
        padding: 5rem 3rem;
    }
    .container-2-header {
        font-size: 90px;
        top: 60px;
    }
    .bean-content {
        flex-direction: row;
    }
    .flex-item-1 {
        width: 40%;
    }
    .row-2-img {
        float: right;
        width: 13rem;
        height: 11rem;
        padding-left: 3rem;
    }
    .flex-item-2 {
        width: 60%;
        text-align: left;
    }
    .row-3-content-container {
        background-color: #282F38;
    }
    .row-3-para {
        width: 80%;
        margin: 0 auto;
    }
    .row-4 {
        height: 27.5rem;
    }
    .card {
        flex-direction: row;
        height: 15rem;
        width: 90%;
        margin: 10px auto;
    }
    .card-img-container {
        width: 45%;
    }
    .card-content {
        text-align: left;
    }
    .row-5-header {
        padding-top: 33rem;
    }
    .row-5-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .row-5-flex-container h4 {
        width: 70%;
    }
    .row-5-flex-item {
        width: 32%;
    }
    .item-2 {
        position: relative;
        left: 1rem;
    }
    .item-3 {
        position: relative;
        left: 1.5rem;
    }
    

    .icon-container {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #0E8784;
    
    }
    hr {
        padding-left: 0;
        padding-right: 0;
        margin: 20px 0;
        height: 5%;
        width: 30%;
        color: #FDD6BA;
        background-color: #FDD6BA;
    }
    .number {
        line-height: 9rem;
    }
    .footer-logo-container {
        padding-left: 11rem;
    }
    .footer-btn-container {
        padding-left: 0;
    }
    
}

@media screen and (min-width: 992px) {
    .hero-container {
        background-image: url('/assets/home/desktop/image-hero-coffeepress.jpg');
        border-radius: 10px;
    }
    .hero-content {
        width: 60%;
    }
    .flex-container {
        display: flex;
    }
    .container-2-header {
        font-size: 7rem;
        width: 90%;
        margin: 0 auto;
        top: 30px;
    }
    .row-2 {
        margin-bottom: 2rem;
    }
    .bean-content {
        position: relative;
        flex-direction: column;
        bottom: 5rem;
    }
    .bean-content:first-child {
        margin-top: 4rem;
    }
    .flex-item-1 {
        width: 115%;
    }
    .row-2-img {
        float: left;
        margin: 0 auto;
    }
    .flex-item-2 {
        width: 100%;
        text-align: center;
    }
    .row-3-header {
        padding-top: 1rem;
    }
    .row-3-para {
        width: 60%;
    }
    .row-4 {
        height: 9rem;
    }
    .card {
        position: relative;
        flex-direction: column;
        height: 20rem;
        width: 100%;
        bottom: 5rem;
        line-height: 1.5rem;
    }
    .card-content {
        text-align: center;
    }
    .row-5-header {
        padding-top: 18rem;
    }
    .row-5-flex-item {
        width: 35%;
        padding-right: 3rem;
    }
    .row-5-flex-container h4 {
        width: 60%;
    }
    .footer {
        display: flex;
        height: 6rem;
        justify-content: center;
        align-items: center;
    }
    .footer-logo-container {
        margin: 0;
        padding: 0;
    }
    .footer-logo {
        width: 15rem;
        top: 0;
        
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        margin-left: 0%;
        padding-left: 3rem;
    }
    .footer-nav li {
        margin-right: 9%;
        
    }
    .icon-flex-container {
        bottom: 0;
    }
}