body {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    width: 100%;
    max-width: 1500px;
    overflow-x: hidden;  
    line-height: 1.7rem; 
    background-color: #FEFCF7;
    font-weight: 300; 
    margin: 0 auto;
}
h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #83888F;
}
.btn {
    font-family: 'Fraunces', serif;
    height: 3rem;
    width: 10rem;
    background-color: #0E8784;
    color: #FEFCF7;
}


.header {
    position: relative;
    display: flex;
    height: 4rem;
    bottom: 2.5rem;
    align-items: center;
}
.header-logo {
    width: 10rem;
}

/* Menu Styles */
.menu-container {
    display: flex;
    position: relative;
    justify-content: right;
    font-size: 20px;
    width: 10rem;
    height: 10rem;
}
.ham {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.xIcon {
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 10;
}
.menu {
    position: absolute;
    background: #FEFCF7;
    color: black;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
    height: 12rem;
    width: 220%;
    text-align: center;
    padding-top: 2rem;
    font-weight: 400;
    font-family: 'Fraunces', serif;
}
.showMenu {
    transform: translateY(20%);
}
.showBtn {
    transform: rotateX(180deg);
}

/* Hero Styles */
.hero-container {
    height: 30rem;
    text-align: center;
    background-image: url('/assets/plan/mobile/image-hero-blackcup.jpg');
    color: #FEFCF7;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto;
    
}
.hero-content {
    padding: 5rem 0;
}

/* Container 2 Styles */
.container-2 {
    height: 70rem;
    background-color: #282F38;
    border-radius: 10px;
    color: #FEFCF7;
    padding-top: 3rem;
}
.row-2-flex-container {
    display: flex;
    flex-direction: column;
}
.row-2-flex-item {
    margin: 3rem 1rem;
}
.icon-container {
    display: none;
}
.number {
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #FDD6BA;
    margin-bottom: 3rem;
}

.row-3 {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.container-3-flex-container-1 {
    display: none;
    height: 0;
    width: 0;
}
.container-3-btn {
    position: relative;
    font-family: 'Fraunces', serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b4b6b8;
    text-align: left;
    width: 75%;
    left: 2rem;
    margin-bottom: 1rem;
    color:#b4b6b8;
}
.container-3-btn:hover {
    color:#282F38;
}

.container-3-flex-container-2 {
    display: flex;
    flex-direction: column;
}
.flex-item {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    
}
.container-3-header {
    color:#83888F;
}
.header-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.option-header-btn {
    justify-content: flex-end;
    background-color: transparent;
    border: none;
}
.option-flex-container {
    display: flex;
    flex-direction: column;
}

/* Option Button Styles */
.option-btn {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color:gainsboro;
    border-radius: 10px;
    border: none;
    text-align: left;
}
.option-btn:hover {
    background-color: #FDD6BA;
}
.active-1 {
    background-color: #0E8784;
    color:#FEFCF7;
}
.active-2 {
    background-color: #0E8784;
    color:#FEFCF7;
}
.active-3 {
    background-color: #0E8784;
    color:#FEFCF7;
}
.active-4 {
    background-color: #0E8784;
    color:#FEFCF7;
}
.active-5 {
    background-color: #0E8784;
    color:#FEFCF7;
}


/* Order Summary Styles */
.order-summary-container {
    background-color: #282F38;
    border-radius: 10px;
}
.order-summary-container h5 {
    color: #83888F;
}
.order-summary-container p {
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.container-3-btn-container {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #333D4B;
    height: 20rem;
    width: 96%;
    margin: 4rem auto;
}
.footer-logo {
    position: relative;
    top: 2rem;
    width: 19rem;
    text-align: center;
}
.footer-nav {
    list-style: none;
    color: #83888F;
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.5rem;
}
.icon-flex-container {
    position: relative;
    bottom: 1rem;
}
.icon {
    padding: 0 10px;
}
.icon:hover {
    color: #FDD6BA;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {
    .header-logo {
        padding-bottom: 2rem;
    }
    .ham {
        display: none;
    }
    .menu-container {
        padding-top: 1rem;
        justify-content: flex-end;
    }
    .menu {
        display: flex;
        flex-direction: row;
        transform: translateY(0);
        background-color: transparent;
        justify-content: flex-end;
        width: 100%; 
        font-family: 'Barlow', sans-serif;
        font-weight: 300;  
    }
    .menuLink {
        color: #83888F;
        margin-left: 30px;
        padding-left: 0;
        text-transform: uppercase;
        font-size: 15px;
    }

    .hero-container {
        background-image: url('/assets/plan/tablet/image-hero-blackcup.jpg');
        text-align: left;
    }
    .hero-content {
        width: 75%;
        padding: 5rem 3rem;
    }

    .container-2 {
        height: 35rem;
    }
    .row-2-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .icon-container {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #0E8784;
    
    }
    hr {
        padding-left: 0;
        padding-right: 0;
        margin: 20px 0;
        height: 5%;
        width: 30%;
        color: #FDD6BA;
        background-color: #FDD6BA;
    }
    .row-2-flex-item {
        width: 31%;
        
    }
    .item-2 {
        position: relative;
        left: .4rem;
    }
    .item-3 {
        position: relative;
        left: .4rem;
    }

    .option-flex-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .option-btn {
        position: relative;
        left: .3rem;
        width: 32%;
        height: 10rem;
    }
    .footer-logo-container {
        padding-left: 11rem;
    }
}

@media screen and (min-width: 992px) {
    .hero-container {
        height: 25rem;
        background-image: url('/assets/plan/desktop/image-hero-blackcup.jpg');
        border-radius: 10px;
    }
    .hero-content {
        width: 60%;
    }


    .row-2-flex-item {
        width: 35%;
        padding-right: 3rem;
    }

    .container-3-flex-container-1 {
        display: flex; 
        flex-direction: column;
        width: 25%;
    }
    
    .container-3-flex-container-2 {
        width: 50%;
    }
    .flex-item {
        margin: 0;
    }
    .container-3-btn-container {
        justify-content: flex-end;
    }

    .footer {
        display: flex;
        height: 6rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-logo-container {
        margin: 0;
        padding: 0;
    }
    .footer-logo {
        width: 15rem;
        top: 0;
        
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        margin-left: 0%;
        padding-left: 3rem;
    }
    .footer-nav li {
        margin-right: 9%;
        
    }
    .icon-flex-container {
        bottom: 0;
    }
}